.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 50px;
  padding-top: 0px;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  width: 100%;
  background-color: white;
  padding-top: 30px;
  border-radius: 15px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.names input {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  width: 250px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.names button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  transition: transform 0.2s linear 0s;
}

.names button:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}

.names h2 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .names {
    width: 80%;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
