.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  width: 100vw;
  padding-top: 40px;
  border-radius: 15px;
}

.names input {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  width: 250px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.names button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: transparent;
  color: black;
  border: 2px solid white;
  transition: all 0.2s linear 0s;
  border: 1px solid black;
  border-radius: 5px;
  /* margin-left: 60px; */
}

.names button:hover {
  background-color: black;
  color: white;
}

.names h2 {
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .names {
    width: 80%;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 50px;
}

.firstcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 20px;
  width: 80%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
  flex-wrap: wrap;
}
