.mainscreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  /* background-image: url("https://wallpaperaccess.com/full/3063067.png"); */
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  width: 60rem;
  margin: auto;
  background: white;
  position: center;
  align-self: center;
  top: 50rem;
  display: flex;
  flex-direction: row;
}

.leftside {
  color: black;
  width: 25rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
}

.itemcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1px solid grey;
  width: 100%;
  gap: 30px;
}

.itemname {
  margin-top: 20px !important;
}

.product {
  object-fit: cover;
  width: 20em;
  height: 20em;
  border-radius: 100%;
}

.rightside {
  background-color: #ffffff;
  width: 35rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
}

.mainscreen p {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.8rem 0;
}

.inputbox {
  color: #030303;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.expcvv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6rem;
}

.expcvv_text {
  padding-right: 1rem;
}
.expcvv_text2 {
  padding: 0 1rem;
}

.button {
  /* background: linear-gradient(135deg, #753370 0%, #298096 100%); */
  background-color: transparent;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  letter-spacing: 0.11rem;
  outline: none;
  transition: all 0.2s linear 0s;
}

.button:hover {
  /* transform: scale(1.02) translateY(-3px); */
  /* box-shadow: 3px 3px 6px #38373785; */
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
    width: auto;
  }

  .leftside {
    width: 95%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .rightside {
    width: 100%;
    border-bottom-left-radius: 1.5rem;
    padding: 0.5rem 3rem 3rem 2rem;
    border-radius: 0;
    margin-top: 100px;
  }
}
