.slider {
  background-color: black;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.items {
  display: flex !important;
  justify-content: center;
  /* margin-top: 55px; */
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .items {
    margin-top: 0;
  }
}
